.advantages {
  padding-top: 100px;
  
  &__advantage-item {
    margin-bottom: 48px;
  }

  &__head-4 {
    color: #27282c;
    font-size: 20px;
    margin-bottom: 14px;
  }

  &__text {
    font-size: 18px;
  }

  &__advantage-icon {
    width: 48px;
    margin-bottom: 14px;
  }

  @media (--sm) {
    &__img {
      display: none;
    }
  }
}
