.toolbox-app {
  background-color: #323236;

  &__header-2 {
    color: white;
    font-size: 28px;
    margin-bottom: 24px;
  }

  &__header-3 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;
  }

  &__text-section {
    padding-top: 95px;
  }

  &__link {
    font-size: 18px;
    color: var(--orange);
  }

  @media (--sm) {
    &__text-section {
      padding-top: 64px;
      padding-bottom: 64px;
    }


    &__img {
      display: none;
    }
  }
}
